header.header 
    .container-fluid
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(hrefs=`/`) 
                        img(src="/images/logo.jpg" width="200px" height= "200px")
            
            .col-4
                .inner-menu 
                    ul 
                        li
                            a(href="/") 
                                <i class="fa-solid fa-house"></i> Home Page 
                        li 
                            a(href="/categories") 
                                <i class="fa-solid fa-music"> </i> Category
                        li 
                            a(href="/cart") 
                                <i class="fa-solid fa-cart"> </i> Cart (<span mini-cart>0</span>)
                        
